<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Lectures</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad@2x.png">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="canonical" href="https://lectures.page/">
    
    <meta property="og:title" content="Lectures du dimanche prochain, mises en page pour la lecture personnelle ou de groupe." />
    <meta property="og:image" content="https://api.apiflash.com/v1/urltoimage?access_key=c5c2ce4e413f42daad021dd0f001bf3c&format=jpeg&height=525&scale_factor=2&url=https%3A%2F%2Flectures.page&width=1000" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="525" />
</head>


  <body class="liturgical-color-<%= liturgicalColor %>">
    
    <aside class="about">
      <div class="wrapper">
        <div class="about-details">
          <p class="about-description">Lectures du missel romain du dimanche prochain, mises en page pour la lecture personnelle ou de groupe.</p>
          <p class="about-signature">
            Textes de l'<a href="https://www.aelf.org">AELF</a>.
            <span class="about-signature-name">Conception de <a href="https://pascallaliberte.me" rel="author">Pascal Laliberté</a>.</span>
          </p>
        </div>
      </div>
    </aside>
    
    <div class="page-content" id="lectures">
      <div class="wrapper">
        
<div class="home">
  
  <div class="post">
    <header class="post-header">
      <div id="post-readings-additional-toggle" aria-expanded="false"><a id="post-readings-additional-toggle-link" href="#" data-change-to="Afficher seulement l'Évangile">Afficher les autres textes</a></div>
      <div class="post-meta">
        <div class="post-date post-date-upcoming">
          <span class="post-date-weekday">
            <span class="post-date-weekday-dimanche" data-text-if-upcoming="Dimanche prochain">
              <% if(isTodaySunday) { %>
                <%= "Aujourd'hui" %>
              <% } else if (isTodaySaturday) { %>
                Demain
              <% } else { %>
                Dimanche prochain  
              <% } %>
            </span>
            </span><span class="post-date-day-month-year"><span class="post-date-separator">,</span>
            <span class="post-date-day-of-month">
              <%= date.getDate() %>
            </span>

            <span class="post-date-month">
              <%= date_month_abbr %>
            </span>

            <span class="post-date-year">
              <%= date.getFullYear() %>
            </span>

          </span><!-- /.post-date-day-month-year -->
          <div class="post-date-more-info-wrapper">
            <div class="post-date-more-info">
              <span class="jour-liturgique-nom"><%= jour_liturgique_nom %></span>, 
              <span class="annee">Année <%= annee %></span>
            </div>
          </div>
        </div>
      </div>
      
    </header>

    <article class="post-content">
      <div class="post-readings post-readings-additional">
        <% additionnelles.forEach(function(lecture) { %>
          <% if (lecture.type === 'psaume') { %>
            <h2>P<span style="margin-left: 0.5px; margin-right: -0.5px;">s</span>aume</h2>
            <h3><%= lecture.ref %></h3>
            
            <%- lecture.refrain_psalmique.replace(/p>/, 'p>R/ ') %>
            <%- lecture.contenu %>
          <% } else { %>
            <h2>
              <% if (lecture.type === 'lecture_1') { %>
                1<sup>ère</sup> lecture
              <% } %>
              <% if (lecture.type === 'lecture_2') { %>
                2<sup>ème</sup> lecture
              <% } %>
            </h2>
            <h3><%= lecture.ref %></h3>
            <%- format_reading(lecture.contenu) %>
          <% } %>
          
        <% }) %>
      </div>
      
      <div class="post-readings">
        <h2>Évangile</h2>
        <h3><%= evangile.ref %></h3>
        <%- format_reading(evangile.contenu) %>
      </div>
    </article>
    
    <a class="to-top" href="#lectures">Revenir aux lectures</a>

  </div>
  
</div>


      </div>
    </div>

  <script src="/js/main.js"></script>

  </body>

</html>

