<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Lectures</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad@2x.png">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="canonical" href="http://lectures.pascallaliberte.me/">
    <script type="text/javascript" src="//use.typekit.net/ugq1okm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>


  <body class="liturgical-color-<%= liturgicalColor %>">
    
    <aside class="about">
      <div class="wrapper">
        <div class="about-details">
          <p class="about-description">Lectures du missel romain du dimanche prochain, adaptée pour la lecture personnelle ou de groupe.</p>
          <p class="about-signature">
            <span class="about-signature-name">Conception de <a href="https://pascallaliberte.me" rel="author">Pascal Laliberté.</a></span>
            Textes de l'<a href="https://www.aelf.org">AELF</a>.
          </p>
        </div>
      </div>
    </aside>
    
    <div class="page-content" id="lectures">
      <div class="wrapper">
        
<div class="home">
  
  <div class="post">
    <header class="post-header">
      <div id="post-readings-additional-toggle"><a id="post-readings-additional-toggle-link" href="#">Afficher les autres textes</a></div>
      <span class="post-meta">
        <span class="post-date post-date-upcoming">
          <span class="post-date-weekday">
            <span class="post-date-weekday-dimanche" data-text-if-upcoming="Dimanche prochain">
              <% if(isTodaySunday) { %>
                <%= "Aujourd'hui" %>
              <% } else { %>
                Dimanche prochain  
              <% } %>
            </span>
            </span><span class="post-date-day-month-year"><span class="post-date-separator">,</span>
            <span class="post-date-day-of-month">
              <%= date.getDate() %>
            </span>

            <span class="post-date-month">
              <%= date_month_abbr %>
            </span>

            <span class="post-date-year">
              <%= date.getFullYear() %>
            </span>

          </span><!-- /.post-date-day-month-year -->

        </span>
      </span>
      
    </header>

    <article class="post-content">
      <div class="post-readings post-readings-additional">
        <% additionnelles.forEach(function(lecture) { %>
          <% if (lecture.type === 'psaume') { %>
            <h2>Psaume</h2>
            <h3><%= lecture.ref %></h3>
            
            <%- lecture.refrain_psalmique.replace(/p>/, 'p>R/ ') %>
            <%- lecture.contenu %>
          <% } else { %>
            <h2>
              <% if (lecture.type === 'lecture_1') { %>
                1ère lecture
              <% } %>
              <% if (lecture.type === 'lecture_2') { %>
                2ème lecture
              <% } %>
            </h2>
            <h3><%= lecture.ref %></h3>
            <%- format_reading(lecture.contenu) %>
          <% } %>
          
        <% }) %>
      </div>
      
      <div class="post-readings">
        <h2>Évangile</h2>
        <h3><%= evangile.ref %></h3>
        <%- format_reading(evangile.contenu) %>
      </div>
    </article>
    
    <a class="to-top" href="#lectures">Revenir aux lectures</a>

  </div>
  
</div>


      </div>
    </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
  <script src="//unpkg.com/jquery-smooth-scroll@2.2.0/jquery.smooth-scroll.js"></script>
  <script src="/js/main.js"></script>


  </body>

</html>

